---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="Welcome to Astro.">
	<div class="terminal-container">
		<div class="terminal-header">
			<div class="nav-btn-container">
				<span class="red-dot"></span>
				<span class="yellow-dot"></span>
				<span class="green-dot"></span>
			</div>
			<div class="text-container">
				<p>user@www.dylan.dev:~</p>
			</div>
			<div class="dummy">
				<p>&#8997;&#8984;1</p>
			</div>
		</div>
		<div class="terminal-body">
			<div class="login-container">
				<p>Last login: Wed Aug 17 15:44:24 on dylan.dev</p>
			</div>
			<div class="input-container">
				<div class="left-arrow">
					<div class="first">
						<Icon name="ci:home-alt-fill" />
						<Icon name="fa-solid:tilde" />
					</div>
					<div class="second">&#63743;</div>
				</div>
				<div class="input">
					<p>Press 'A' to access site:&nbsp;</p>
				</div>
				<div class="right-arrow">
					<div class="third">
						<p>11:05:27 am</p>
					</div>
					<div class="fourth">
						<Icon name="fluent:checkmark-16-filled" />
					</div>
				</div>
			</div>
		</div>
	</div>
</Layout>

<style lang="css">
	@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700&display=swap");

	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	.third p {
		font-size: 0.7em;
		font-family: "Source Code Pro", monospace;
		margin-left: 16px;
	}

	.fourth {
		width: 30px;
		height: 100%;
		background: #063441;
		position: relative;
		left: -90px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 0.9em;
	}

	.fourth:before {
		content: "";
		position: absolute;
		left: -10px;
		bottom: 0;
		width: 0;
		height: 0;
		border-right: 10px solid #063441;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
	}

	.third:before {
		content: "";
		position: absolute;
		left: 8px;
		bottom: 0;
		width: 0;
		height: 0;
		border-right: 10px solid #eee9d6;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		z-index: 3;
	}

	.third {
		width: 110px;
		height: 100%;
		left: 32px;
		position: relative;
		background: #eee9d6;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 0.9em;
		color: #063441;
	}

	.right-arrow {
		height: 100%;
		width: 140px;
		display: flex;
		justify-content: space-evenly;
		flex-direction: row;
		/* border: 1px solid #4f39fa; */
	}

	.input {
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: flex-start;
		/* border: 1px solid #4f39fa */
	}

	.input p {
		font-size: 0.9em;
		width: auto;
		height: auto;
		position: relative;
		color: #b5a7c9;
		font-family: "Source Code Pro", monospace;
		font-weight: 600;
	}

	.input p::before,
	p::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.input p::before {
		background: #0e1f48;
		animation: typewriter 3s steps(26) 1s forwards;
	}

	.input p::after {
		width: 0.5em;
		margin-top: 2px;
		height: 1em;
		background: #b5a7c9;
		animation: typewriter 3s steps(26) 1s forwards, blink 750ms steps(25) infinite;
	}

	@keyframes blink {
		to {
			background: transparent;
		}
	}

	@keyframes typewriter {
		to {
			left: 100%;
		}
	}

	[astro-icon="ci:home-alt-fill"] {
		color: #eee9d6;
		width: 15px;
		height: 15px;
		margin-left: 25px;
		margin-right: 5px;
	}

	[astro-icon="fluent:checkmark-16-filled"] {
		color: #32ca43;
		width: 15px;
		height: 15px;
		margin-right: 10px;
		margin-top: 2px;
	}

	[astro-icon="lucide:clock-2"] {
		color: #063441;
		width: 12px;
		height: 12px;
	}

	[astro-icon="fa-solid:tilde"] {
		color: #eee9d6;
		width: 12px;
		height: 12px;
	}

	.left-arrow {
		height: 100%;
		width: 90px;
		display: flex;
		justify-content: space-evenly;
		flex-direction: row;
		/* border: 1px solid #4f39fa; */
	}

	.second {
		width: 30px;
		height: 100%;
		background: #eee9d6;
		position: relative;
		left: -65px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 0.9em;
	}

	.second:before {
		content: "";
		position: absolute;
		right: -10px;
		bottom: 0;
		width: 0;
		height: 0;
		border-left: 10px solid #eee9d6;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
	}

	.first {
		width: 70px;
		height: 100%;
		left: 10px;
		position: relative;
		background: #268cd1;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 0.9em;
		color: #eee9d6;
	}

	.first:before {
		content: "";
		position: absolute;
		right: -10px;
		bottom: 0;
		width: 0;
		height: 0;
		border-left: 10px solid #268cd1;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
	}

	.input-container {
		width: 98%;
		height: 20px;
		/* border: #4f39fa 1px solid; */
		margin-top: 5px;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.login-container {
		width: 98%;
		height: 15px;
		/* border: #4f39fa 1px solid; */
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-top: 5px;
		margin-left: auto;
		margin-right: auto;
	}

	.login-container p {
		font-size: 0.7em;
		width: auto;
		height: auto;
		color: #8c8794;
		font-family: "Source Code Pro", monospace;
	}

	h1 {
		margin: 2rem 0;
	}

	.red-dot {
		height: 10px;
		width: 10px;
		border-radius: 50%;
		background-color: #f4655b;
		display: inline-block;
		margin-right: 6px;
	}

	.yellow-dot {
		height: 10px;
		width: 10px;
		border-radius: 50%;
		background-color: #fcbc32;
		display: inline-block;
		margin-right: 6px;
	}

	.green-dot {
		height: 10px;
		width: 10px;
		border-radius: 50%;
		background-color: #32ca43;
		display: inline-block;
	}

	.terminal-container {
		width: 100%;
		height: 100%;
		background-color: #0e1f48;
		border-radius: 10px;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.terminal-header {
		width: 100%;
		background-color: #3e2e54;
		border-radius: 10px 10px 0px 0px;
		height: 25px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		/* border: #4f39fa 2px solid; */
	}

	.nav-btn-container {
		margin-top: 2px;
		width: 33%;
		height: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		margin-left: 8px;
		left: 0;
		/* border: #4f39fa 1px solid; */
	}

	.text-container {
		width: 33%;
		height: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		left: 0;
		/* border: #4f39fa 1px solid; */
	}

	.text-container p {
		font-size: 0.6em;
		font-weight: bold;
		color: #b5a7c9;
	}

	.dummy {
		width: 33%;
		height: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		left: 0;
		/* border: #4f39fa 1px solid; */
		margin-right: 8px;
	}

	.dummy p {
		font-size: 0.6em;
		font-weight: bold;
		color: #b5a7c9;
	}

	.terminal-body {
		width: 100%;
		height: 100%;
		/* border: #4f39fa 2px solid; */
		border-radius: 0px 0px 10px 10px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #4f39fa;
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
