---
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Dylan Peltier</title>
	</head>
	<body>
		<div class="bg">
			<div class="main-container">
				<slot />
			</div>
		</div>
		<style>

			.bg {
				width: 100%;
				background-image: url(/assets/background.jpeg);
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;
				height: 100vh;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.main-container {
				background-color: transparent;
				width: 80vw;
				height: 60vh;
			}

			html {
				font-family: system-ui, sans-serif;
				font-size: var(--font-size-base);
				color: var(--color-text);
				background-color: var(--color-bg);
			}

			body {
				margin: 0;
			}

			:global(h1) {
				font-size: var(--font-size-xl);
			}

			:global(h2) {
				font-size: var(--font-size-lg);
			}

			:global(code) {
				font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
					DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
					monospace;
			}
		</style>
	</body>
</html>
